.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* heading-nav-section */
header{
    background-image: url('../images/Hero-bg.png');
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}
.nav-logo{
    font-size: 34px;
    color:#4E47FF;
    font-weight: 800;
}

.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;
}
.btn-primary:hover{
    color: #7f7cd5;
    background-color: #b5aeae;
}
/* heading-banner-part */
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
    width: 905px;
    padding: 0 235px 0 235px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.btn{
    margin-bottom: 200px;
}
/* first-section */
.first-section{
    display: flex;
    gap: auto;
    justify-content: space-between;
    margin: 116px 160px 116px 140px;
}
.first-section-title{
    font-size: 42px;
    font-weight: bold;
}
.section-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px auto;
    width: 517px;
}
.first-section-img{
    border-radius: 48px;
}
/* second-section */
.second-section-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.second-section-item{
    display: flex;
    flex-direction: column;
    gap: auto;
}
.item-title{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #4E47FF;
    margin-bottom: 40px;
}
.second-section-description{
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);
    margin: 0 30px 0 30px;
   text-align: center;
}
.second-section-content{
    display:flex ;
    align-items: center;
    justify-content: space-around;
}
.second-section{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 140px;
    margin: 116px 160px 116px 140px;
    border-radius: 24px;
}
/* third-section */
.third-section{
margin: 116px 160px 116px 140px;
padding: 24px;
}
.third-title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.third-section-container{
    box-shadow: 0 0 10px 5px #e4e4e6;
    padding: 24px;
}
.cards-container{
display: flex;
gap: 20px;
}
.image{
    margin-top: 24px;
    margin-bottom: 24px;
}
.card-title{
    margin-bottom: 24px;
}
.card-img{
    display: flex;
    align-items: center;
}
/* avatar-img */
.avatar-img{
    margin: 24px 20px 24px 24px;
    height: 100%;
    font-weight: 100%;
    border-radius:100%;
    
}
/* avatar-description */
.avatar-description{
    color: #8987A1;
    font-size: 12px;
}

/* forth-section */
.section-four{
margin: 116px 160px 116px 140px;
padding: 70px 150px;
box-shadow: 0 0 10px 5px #e4e4e6;
border-radius: 14px;
}
.forth-section{
    display: flex;
    flex-direction: column;
align-items: center;
}
.forth-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 2px 5px;
}
.forth-description{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.forth-img{
    margin-top: 20px;
    border-radius: 48px;
}
/* form-section*/
input[type="email"], input[type="text"], textarea{
    display: block;
    margin-bottom: 20px;
    width: 497px;
    height: 100px;
    border: 3px solid #eee9e9;
    border-radius: 10px;
}
textarea{
    height: 170px;
    border: 3px solid #eee9e9;
    border-radius: 10px;
}
.form-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    height: 63px;
    display: block;
    margin-bottom: 20px;
    width: 497px;
    cursor: pointer;
}
.form-btn:hover{
    color: #7f7cd5;
    background-color: #b5aeae;
}
.form-section{
    display: flex;
    justify-content: space-between;
    margin: 116px 160px 116px 140px;
}
.form-title{
    font-size: 97px;
    font-weight: bold;
 
}
form{
gap: auto;

}
/* footer */
footer{
    box-shadow: 0 0 10px 5px #e4e4e6;
}
.footer-content{
    padding: 0 150px;
    margin: 100px 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content .footer-items{
    display: flex;
}
.footer-content .footer-item{
   color: #8987A1;
   width: 400;
   font-size:16px ;
   margin-right: 10px;
   text-align: center;
}
.logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}
.footer-description{
    color: #8987A1;
    width: 531px;
}


